/* RESETEO */

*{margin:0; padding: 0;}

header, main, footer {display: block;}

/* ESTILOS PRINCIPALES */

html{
	scroll-behavior: smooth;
}

body{
	background-color:#CAD5F3;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

section > h1{
	text-align: center;
	margin: 12px 0;
}

.flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* WRAPPER */
.wrapper{
	width: 1200px;
	margin: 0 auto;
}


/* HEADER */

nav{
	/* width: 600px; */
	margin: 0 auto;
    
}


nav ul{
	list-style-type: none;
}

nav ul li{
	width: 100px;
	display: inline-block;
}

nav ul li a{
	display: block;
	background-color: black;
	text-align: center;
	padding: 15px;
	color: white;
	margin-bottom: 2px;
	text-decoration: none;
}

nav ul li a:hover{
	background-color: blue;
}

section{
	height: 500px;
}

/* seccion SALUDO */

#saludo{
	background-image: url("../img/bienvenido.jpeg");
	background-repeat: no-repeat;
	background-size: cover;

	text-align: center;

    display: flex;
    justify-content: center;
    align-items: flex-end;

}

#saludo div{
	width: 600px;
	margin-bottom: 32px;
}

#saludo h1{
	font-size: 48px;
	font-weight: 800;
}

/* seccion PROMOS */
#PROMOS img{
	height: 250px;
	max-width: 100%;
	
}

#PROMOS article{
	margin: 0 24px;
}

/* seccion RESERVAS */
input, label {
    display:block;
}

form{
	width: 500px;
}

form div{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

